[package]
name = "brainrust"
version = "0.1.0"
edition = "2021"

[dependencies]
glam = { version = "0.29.2", features = ["core-simd", "cuda", "fast-math", "rkyv", "scalar-math"] }
jni = "0.21"
rayon = "1.10.0"
serde = "1.0.215"
rand = "0.9.0-beta.1"

[lib]
crate-type = ["cdylib"]
